<p>
  drop-area works!
</p>
<div dropDirective (dropEvent)="addDropItem($event)" class="droppable" [dropHighlight]="'highlight'" >
	<app-generic-box *ngFor="let item of itemsDropped" [genericBox]='item'></app-generic-box>
</div>
