
  navigation works!
  <div *ngFor="let item of itemsToDrop" [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)">
  	<app-generic-box [genericBox]='item'></app-generic-box>
  </div>
